body {
    background: url('http://images.alphacoders.com/435/435556.png');
    font-family: verdana;
}


#titlu {
    color: white;
	font-weight: 100;
	font-family: verdana;
}

#meniu {
    list-style: none;
}


.box {
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 0px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    height: 100px;
    width: 100px;
    background-color: lightgray;
}
.box:hover {
    background-color: blue;
    color: white;
}
.box.active {
    background-color: blue;
    color: white;
}

#content {
    background: rgba(255, 255, 255, 0.75);
    color: black;
    padding: 50px;
    text-align: center;
    font-size: 18px;
}

i {
    text-shadow: 0 0 5px blue;
}

.img-big {
    height: 100px;
    border-radius: 1000px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.inner-content {
    text-align: justify;
}

.ascuns {
    height: 1px;
    transition: height 2s;
    -webkit-transition: height 2s;
    -o-transition: height 2s;
    overflow: hidden;
}

#map {
    height: 200px;
    box-shadow: 0 0 20px black;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
#map:hover {
    height: 300px;
}

#anInternet {
    width: 200px;
    display: inline-block;
}

.device {
    width: 80%;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
.device:hover {
    width: 85%;
}

.circle {
    background-color: crimson;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding-top: 30px;
    text-align: center;
}

#adv {
    color: darkgreen;
    text-align: justify;
}
#disadv {
    color: darkred;
    text-align: justify;
}

.browser {
    height: 70px;
    box-shadow: 0 0 10px white;
    transition: all 1s;
}
.browser:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.img-basic {
    height: 200px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
.img-basic:hover {
    height: 250px;
}


.tab {
    background: -webkit-linear-gradient(#bbbbbb, #eeeeee); 
    background: -o-linear-gradient(#bbbbbb, #eeeeee); 
    background: linear-gradient(#bbbbbb, #eeeeee); 
    padding: 12px;
    width: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.browser-content {
    background: #eeeeee;
    width: 100%;
    padding: 30px;
}

blockquote {
    text-align: justify;
}